body {
    --main_size: 35px;
    
    font-family: 'Consolas', monospace;
    background-color: black;
    color: #0f0;
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.4);

    font-size: var(--main_size);

    margin: 100px;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#title {
    font-weight: 1000;
    font-size: 60px;
    padding-bottom: 20px;
}

p {
    margin: 0;
    line-height: var(--main_size);
}

.dropdown {
    opacity: 100%;
    cursor: pointer;
}

.dropdown:hover {
    font-weight: 1000;
    animation: flash .75s infinite;
}

@keyframes flash {
    0% {
        opacity: 100%;
    }
    49% {
        opacity: 100%;
    }
    50% {
        opacity: 40%;
    }
    99% {
        opacity: 40%;
    }
    100% {
        opacity: 100%;
    }
}

.hidden {
    display: none;
}

a {
    color: #0f0;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    font-weight: 1000;
}