body {
    --main_size: 40px;
    
    font-family: 'Consolas', monospace;
    background-color: black;
    color: #0f0;
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.4);

    font-size: var(--main_size);

    margin: 100px;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#title {
    font-weight: 1000;
    font-size: 60px;
    padding-bottom: 20px;
}

p {
    margin: 0;
    line-height: var(--main_size);
}

.dropdown {
    cursor: pointer;
}

.dropdown:hover {
    font-weight: 1000;
}

.dropdownitem {
}

.hidden {
    display: none;
}